<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
			<h1>There are my favorite restuarants</h1>
			{{{body}}} <!-- Triple mustaches for more handlebars templates! --> 
	</body>
</html>
